* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: lightblue;
}

.game-board {
    width: 90vw;
    max-width: 400px;
    aspect-ratio: 1;
    background: rgb(0, 22, 58);
    border-radius: 6px;
    padding: 2%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2%;
    height: 100%;
}

.cell {
    background: white;
    border-radius: 3px;
    position: relative;
}

.tile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(7vw, 28px);
    font-weight: bold;
}

.tile-2 {
    background: rgb(105, 213, 83);
    color: black;
}

.tile-4 {
    background: rgb(207, 235, 94);
    color: black;
}

.tile-8 {
    background: rgb(228, 198, 78);
    color: black;
}

.tile-16 {
    background: rgb(223, 236, 35);
    color: black;
}

.tile-32 {
    background: rgb(236, 172, 35);
    color: black;
}

.tile-64 {
    background: rgb(236, 119, 35);
    color: black;
}

.tile-128 {
    background: rgb(243, 101, 70);
    color: black;
}

.tile-256 {
    background: rgb(112, 139, 129);
    color: black;
}

.tile-512 {
    background: rgb(86, 225, 158);
    color: black;
}

.tile-1024 {
    background: rgb(86, 225, 223);
    color: black;
}

.tile-2048 {
    background: lightblue;
    color: black;
}

.tile-4096 {
    background: rgb(119, 185, 247);
    color: black;
}

.tile-8192 {
    background: rgb(176, 178, 245);
    color: black;
}

.tile-16384 {
    background: rgb(131, 147, 230);
    color: black;
}

.tile-32768 {
    background: rgb(175, 88, 251);
    color: black;
}
